data/external/Cell Challenge/
data/external/Stanford3dDataset_v1.2/
data/external/EmbedSef/
data/external/Science Bowl Kaggle/

data/internal/
data/processed/
data/raw/

notebooks/clam-tutorial/data/
notebooks/draft.ipynb

src/models/