fastapi==0.103.2
absl-py==1.4.0
affine==2.4.0
aicsimageio==4.11.0
aicspylibczi==3.1.2
aiobotocore==2.5.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
alabaster==0.7.13
albumentations==1.3.0
alembic==1.11.1
anndata==0.9.1
anndata2pagoda @ git+https://github.com/LouisFaure/anndata2pagoda@73581622b91a94d6e9ab7172f89730ab12b893ad
anndata2ri==1.0.6
antlr4-python3-runtime==4.8
anyio==3.7.1
app-model==0.2.0
appdirs==1.4.4
apptools==5.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asciitree==0.3.3
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
autograd==1.6.2
autograd-gamma==0.5.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
bleach==6.0.0
blis==0.7.9
botocore==1.29.76
build==0.10.0
cachetools==5.3.1
cachey==0.2.1
catalogue==2.0.8
cellpose==2.1.1
certifi==2023.5.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
cmaes==0.10.0
cmake==3.26.3
colorlog==6.7.0
comm==0.1.3
confection==0.1.0
confidenceinterval==1.0.4
configobj==5.0.8
ConfigSpace==0.7.1
contourpy==1.0.7
cookiecutter==2.3.0
crc32c==2.3.post0
cucim==23.4.1
cupy-cuda11x==12.1.0
cycler==0.11.0
cymem==2.0.7
czifile==2019.7.2
dask==2023.6.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.6
distributed==2023.6.0
dnspython==2.3.0
docker-pycreds==0.4.0
docstring-inheritance==2.0.0
docstring-parser==0.15
docutils==0.17.1
dunamai==1.18.0
elementpath==4.1.2
email-validator==2.0.0.post2
emcee==3.1.4
entrypoints==0.4
envisage==7.0.3
exceptiongroup==1.1.2
executing==1.2.0
fastai==2.7.12
fastapi==0.103.2
fastcore==1.5.29
fastdownload==0.0.7
fasteners==0.18
fastjsonschema==2.17.1
fastprogress==1.0.3
fastremap==1.13.5
fastrlock==0.8.1
filelock==3.12.0
flatbuffers==23.5.26
flopth==0.1.3
fonttools==4.39.4
formulaic==0.6.3
fpdf2==2.7.4
fqdn==1.5.1
freetype-py==2.4.0
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
gast==0.4.0
geojson==3.0.1
get_version==3.5.4
gitdb==4.0.10
GitPython==3.1.32
glfw==2.6.2
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.56.0
h5py==3.9.0
HeapDict==1.0.1
hsluv==5.0.3
hydra-colorlog==1.0.0
hydra-core==1.1.0.dev5
hydra-optuna-sweeper==0.9.0rc2
idna==3.4
imagecodecs==2023.3.16
imageio==2.30.0
imagesize==1.4.1
imgui==2.0.0
imgviz==1.7.2
importlib-metadata==6.6.0
in-n-out==0.1.8
interface-meta==1.3.0
ipykernel==6.23.1
ipython==8.13.2
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpointer==2.4
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==7.4.9
jupyter_core==5.3.0
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
keras==2.13.1
kiwisolver==1.4.4
labelme==5.2.1
langcodes==3.3.0
lazy_loader==0.2
libclang==16.0.6
lifelines==0.27.7
lit==16.0.5
llvmlite==0.40.1
locket==1.0.0
lxml==4.9.2
magicgui==0.7.2
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mayavi==4.8.1
mdurl==0.1.2
mistune==3.0.1
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
munch==3.0.0
murmurhash==1.0.9
mypy-extensions==1.0.0
napari==0.4.18
napari-console==0.0.8
napari-plugin-engine==0.2.0
napari-svg==0.1.10
napari-wsi==0.1.2
natsort==8.3.1
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.8.0
ndtiff==2.1.0
nest-asyncio==1.5.6
networkx==3.1
ninja==1.11.1
notebook==6.5.4
notebook_shim==0.2.3
npe2==0.7.2
numba==0.57.1
numcodecs==0.11.0
numpy==1.24.3
numpy-stl==3.0.1
numpydoc==1.5.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
ome-types==0.3.4
ome-zarr==0.7.1
opencv-python-headless==4.7.0.72
openslide-python==1.2.0
opt-einsum==3.3.0
optuna==3.2.0
overrides==7.3.1
p-tqdm==1.4.0
packaging==23.1
pandas==1.5.3
pandocfilters==1.5.0
panopticapi @ git+https://github.com/cocodataset/panopticapi.git@7bb4655548f98f3fedc07bf37e9040a992b054b0
parameterized==0.9.0
parso==0.8.3
partd==1.4.0
pathos==0.3.0
pathtools==0.1.2
pathy==0.10.2
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
Pint==0.22
platformdirs==3.5.1
plotly==5.14.1
pooch==1.7.0
potpourri3d==1.0.0
pox==0.3.2
ppft==1.7.6.6
preshed==3.0.8
pretrainedmodels==0.7.4
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==4.24.3
psutil==5.9.5
psygnal==0.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.9
pyface==8.0.0
Pygments==2.15.1
pynisher==0.6.4
pynndescent==0.5.10
PyOpenGL==3.1.7
pyparsing==3.0.9
pyperclip==1.8.2
pyproject_hooks==1.0.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyrfr==0.9.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-json-logger==2.0.7
python-slugify==8.0.1
python-utils==3.7.0
pytz==2023.3
pyvips==2.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.3
QtPy==2.3.1
qudida==0.0.4
rasterio==1.3.8
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
resource-backed-dask-array==0.1.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
robust-laplacian==0.2.7
rpy2==3.4.2
rsa==4.9
s3fs==2023.6.0
saliency==0.2.0
scikit-image==0.20.0
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.10.1
seaborn==0.11.2
Send2Trash==1.8.2
sentry-sdk==1.28.1
setproctitle==1.3.2
shapely==2.0.1
six==1.16.0
slideflow==2.0.5
smac==1.4.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.19
srsly==2.4.6
stack-data==0.6.2
starlette==0.27.0
statsmodels==0.14.0
superqt==0.4.1
sympy==1.12
tabulate==0.9.0
tblib==1.7.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
thinc==8.1.10
threadpoolctl==3.1.0
tifffile==2023.4.12
tinycss2==1.2.1
tomli==2.0.1
tomli_w==1.0.0
toolz==0.12.0
topk==1.0
torch==2.0.1
torch-summary==1.4.5
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
traits==6.4.1
traitsui==8.0.0
triton==2.0.0
typer==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.0.1
umap-learn==0.5.3
uri-template==1.3.0
urllib3==1.26.16
vedo==2023.4.6
vispy==0.12.2
vtk==9.2.6
Wand==0.6.11
wandb==0.15.5
wasabi==1.1.2
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.3.6
widgetsnbextension==4.0.7
wrapt==1.15.0
xarray==2023.1.0
xmlschema==2.3.1
yarl==1.9.2
zarr==2.15.0
zict==3.0.0
zipp==3.15.0
